In [1]:
from ipynb.fs.full.glassdoor_scraper import * 
import pandas as pd

path='C:/Users/hp/Desktop/github/ds-salary/chromedriver'

df=get_jobs('data scientist', 20, False, path,15)
df.to_csv('data_scientist_jobs.csv', index=False)

df

Progress: 0/20
Progress: 1/20
Progress: 2/20
Progress: 3/20
Progress: 4/20
Progress: 5/20
Progress: 6/20
Progress: 7/20
Progress: 8/20
Progress: 9/20
Progress: 10/20
Progress: 11/20
Progress: 12/20
Progress: 13/20
Progress: 14/20
Progress: 15/20
Progress: 16/20
Progress: 17/20
Progress: 18/20
Progress: 19/20
Progress: 20/20

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Product: Data Scientist,Employer Provided Salary:₹34L - ₹51L,Your Job\nWe’re looking for a Data Scientist t...,4.3,Indeed\n4.3,Hyderābād,10000+ Employees,2004,Company - Private,Internet,Information Technology,$2 to $5 billion (USD)
1,Data Scientist (BE/ B-tech 4-6 yrs),Employer Provided Salary:₹25L - ₹35L,CommerceIQ is Hiring Data Scientist (3-5 yrs)\...,4.2,CommerceIQ\n4.2,Bangalore,51 to 200 Employees,2012,Company - Private,Internet,Information Technology,$10 to $25 million (USD)
2,Senior Data Scientist,Employer Provided Salary:₹40L - ₹60L,Your Job\nAs a Data Scientist at Indeed your r...,4.3,Indeed\n4.3,Hyderābād,10000+ Employees,2004,Company - Private,Internet,Information Technology,$2 to $5 billion (USD)
3,Urgent Opening for DATA SCIENTIST ROLE,Employer Provided Salary:₹9L,Experience: Fresher\nLocation:Work from Home t...,-1,iTech Analytic Solutions,Remote,-1,-1,-1,-1,-1,-1
4,Urgent Opening for DATA SCIENTIST ROLE,Employer Provided Salary:₹9L,Experience: Fresher\nLocation:Work from Home t...,-1,iTech Analytic Solutions,Remote,-1,-1,-1,-1,-1,-1
5,Data Scientist,Employer Provided Salary:₹25L,Multiple development and support Data Science ...,4.0,Evoke Technologies\n4.0,Hyderābād,501 to 1000 Employees,2003,Company - Private,IT Service,Information Technology,$25 to $50 million (USD)
6,Data Scientist,Employer Provided Salary:₹30L - ₹45L,Job Description\nRoles and Responsibilities\nJ...,-1,Jubilant FoodWorks,Noida,10000+ Employees,1995,Company - Public,Fast-Food & Quick-Service Restaurant,"Restaurants, Bars & Food Service",Unknown / Non-Applicable
7,Data Scientist,₹8L - ₹10L (Glassdoor Est.),Position Summary\nJob Title— Data Scientist in...,3.9,Deloitte\n3.9,Bangalore,10000+ Employees,1850,Company - Private,Accounting,Accounting & Legal,$10+ billion (USD)
8,Data Scientist,-1,Smart Infrastructure Division in Siemens Ltd. ...,4.1,Siemens Limited\n4.1,Goa,5001 to 10000 Employees,2004,Subsidiary or Business Segment,Computer Hardware & Software,Information Technology,$10+ billion (USD)
9,Data Scientist / Decision Scientist,-1,Job Role & Responsibilities\n\nRole:\nData Sci...,3.9,Maruti Suzuki India Ltd\n3.9,Bangalore,10000+ Employees,-1,Company - Public,Transport Equipment Manufacturing,Manufacturing,$10+ billion (USD)
10,USI-EH22-EA-CMG-Tech CoE- Data Scientist-A,-1,Position Summary\n\nDeloitte US Client and Mar...,3.9,Deloitte\n3.9,Gurgaon,10000+ Employees,1850,Company - Private,Accounting,Accounting & Legal,$10+ billion (USD)
11,Data Scientist I,-1,Department\nAnalytics and Business Intelligenc...,3.7,Delhivery\n3.7,Bangalore,10000+ Employees,2011,Company - Private,Logistics & Supply Chain,Transportation & Logistics,Unknown / Non-Applicable
12,Advanced Data Scientist,-1,Innovate to solve the world's most important c...,3.8,Honeywell\n3.8,Bangalore,10000+ Employees,1885,Company - Public,Computer Hardware & Software,Information Technology,$10+ billion (USD)
13,Data Scientist,-1,Job ID: 133783\nRequired Travel :Minimal\nMana...,3.9,amdocs\n3.9,Pune,10000+ Employees,1982,Company - Public,Enterprise Software & Network Solutions,Information Technology,$2 to $5 billion (USD)
14,Data Scientist,-1,Position Title: Data Scientist\nDepartment: Tr...,3.9,DBS Bank\n3.9,Maharashtra,10000+ Employees,1968,Company - Public,Banks & Building Society,Finance,$5 to $10 billion (USD)
15,Data Scientist,-1,"The Luxury Closet is a company born in Dubai, ...",-1,The Luxury Closet,Gurgaon,-1,-1,-1,-1,-1,-1
16,Data Scientist,-1,About the role\nA Data Scientist in Flipkart i...,4.1,Flipkart\n4.1,Bangalore,10000+ Employees,2007,Company - Private,Internet,Information Technology,$5 to $10 billion (USD)
17,Data Science-Analyst/Consultant-A&C,-1,Position Summary\nStrategy & Analytics\nStrate...,3.9,Deloitte\n3.9,Bangalore,10000+ Employees,1850,Company - Private,Accounting,Accounting & Legal,$10+ billion (USD)
18,Data Scientist - QuantumBlack,₹4L - ₹9L (Glassdoor Est.),Who You'll Work With\nAs a data scientist at Q...,4.4,McKinsey & Company\n4.4,Gurgaon,10000+ Employees,1926,Company - Private,Consulting,Business Service,Unknown / Non-Applicable
19,Data Scientist Trainee,-1,Company Overview\nIncedo is a US-based consult...,4.0,Incedo\n4.0,Gurgaon,1001 to 5000 Employees,2012,Company - Private,IT Service,Information Technology,$100 to $500 million (USD)